

    @media screen and (max-width:320px) {
        /* ---companies--- */
        .companies_describe {
            width: 280px;
        }

        .about_drone_for_image img {
            width: 280px;
        }

        .horizontal_space {
            flex-direction: column;
        }

        .vertical_space_first_para {
            font-size: 16px;
        }

        .vertical_space_second_para {
            font-size: 28px;
        }

        .horizontal_space_same {
            font-size: 16px;
        }
        .lasha {
            width: 240px;
        }

        h3 {
            margin-top: 112px;
            max-width: 260px;

        }

        .second_background_para {
            max-width: 260px;
        }
    
    }